<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments :: head">
  </head>  

  <body>
  
    <div th:include="fragments :: header('app')"></div>
    
    <div class="container">
        <div class="page-header">
            <h3>Tasks For Application</h3>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                    	<th>#</th>
                        <th>Json Payload</th>
                        <th>Jobs</th>
                        <th>&nbsp;</th>                     
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task,iterStat: ${app.tasks}">
                    	<td>
                    		<a th:href="@{/app/{id}/detail/entry/{index}(id=${app.id}, index=${iterStat.index})}">
                    			<span th:text="${iterStat.count}">1</span>
                    		</a>
                    	</td>
                        <td>
                            <span th:text="${task.payload}">Payload</span>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" role="button" id="delete" 
                                th:href="@{'/app/' + ${app.id} + '/detail/delete/' + ${iterStat.index}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <p>
          <a class="btn btn-primary" role="button" id="add" th:href="@{/app/{id}/detail/entry(id=${app.id})}"><span class="glyphicon glyphicon-plus"></span> Add</a>
          <a class="btn" role="button" id="back" th:href="@{/app/entry/{id}(id=${app.id})}">Back</a>
        </p>
        
    </div>
    
    <script th:inline="javascript">
    $('.btn-danger').click(function() {
    	return confirm('Are you sure?');
    }) 
    </script>
    
  </body>

</html>