<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
      
  <head th:fragment="head">
    <title>OMS Dashboard (Untouched By Front-end Yet!)</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link th:href="@{/resources/css/main.css}" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
  
    <div th:fragment="header (selectedMenu)">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">OMS Dashboard</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li th:class="${selectedMenu} == 'scheduler'? 'active': null"><a th:href="@{/scheduler}">Scheduler</a></li>
                        <li th:class="${selectedMenu} == 'app'? 'active': null"><a th:href="@{/app}">Application</a></li>
                        <li th:class="${selectedMenu} == 'job'? 'active': null"><a th:href="@{/job}">Job</a></li>
                        <li th:class="${selectedMenu} == 'serviceProvider'? 'active': null"><a th:href="@{/serviceProvider}">Service Provider</a></li>
                        <li th:class="${selectedMenu} == 'tenant'? 'active': null"><a th:href="@{/tenant}">Tenant</a></li>
                        <li th:class="${selectedMenu} == 'errorLog'? 'active': null"><a th:href="@{/errorLog}">Error Logs</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    <div th:fragment="pagination (page)" th:if="${page.totalElements > 0}">
	    <ul class="pagination" th:with="start=${(page.number / 20) * 20}, end=${start+20}">
	        <li th:class="${page.first} ? 'disabled' : ''">
	          <span th:if="${page.first}">&lt;&lt;</span>
	          <a th:unless="${page.first}" th:href="@{${url}(page=0, size=${page.size}, sort=${@viewHelper.sortParam(page.sort)})}">&lt;&lt;</a>
	        </li>
	        <li th:class="${page.first} ? 'disabled' : ''">
	          <span th:if="${page.first}">&lt;</span>
	          <a th:unless="${page.first}" th:href="@{${url}(page=${page.number - 1}, size=${page.size}, sort=${@viewHelper.sortParam(page.sort)})}">&lt;</a>
	        </li>
	        <li th:each="i : ${#numbers.sequence(start, (end > page.totalPages)? page.totalPages - 1: end)}" th:class="${i == page.number} ? 'active' : ''">
	          <span th:if="${i == page.number}" th:text="${i + 1}"></span>
	          <a th:unless="${i == page.number}" th:href="@{${url}(page=${i}, size=${page.size}, sort=${@viewHelper.sortParam(page.sort)})}" th:text="${i + 1}"></a>
	        </li>
	        <li th:class="${page.last} ? 'disabled' : ''">
	          <span th:if="${page.last}">&gt;</span>
	          <a th:unless="${page.last}" th:href="@{${url}(page=${page.number + 1}, size=${page.size}, sort=${@viewHelper.sortParam(page.sort)})}">&gt;</a>
	        </li>
	        <li th:class="${page.last} ? 'disabled' : ''">
	          <span th:if="${page.last}">&gt;&gt;</span>
	          <a th:unless="${page.last}" th:href="@{${url}(page=${page.totalPages - 1}, size=${page.size}, sort=${@viewHelper.sortParam(page.sort)})}">&gt;&gt;</a>
	        </li>
       </ul>
    </div>
  
  </body>
  
</html>