<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments :: head">
  </head>  

  <body>
  
    <div th:include="fragments :: header('serviceProvider')"></div>
    
    <div class="container">
        <div class="page-header">
            <h3>Service Provider</h3>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='name,ASC')}">Name</a>
                        </th>   
                        <th>
                            <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='instanceId,ASC')}">Instance Id</a>
                        </th>   
                        <th>
                            <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='region,ASC')}">Region</a>
                        </th>
                        <th>
                            <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='lastStarted,ASC')}">Last Started</a>
                        </th>   
                        <th>
                            <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='status,ASC')}">Status</a>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="serviceProvider: ${serviceProviders}">
                        <td>
                            <a th:href="@{'/serviceProvider/entry/' + ${serviceProvider.id}}">
                                <span th:text="${serviceProvider.name}">TEST</span>
                            </a>
                        </td>
                        <td th:text="${serviceProvider.instanceId}">http://localhost:9999/test</td>
                        <td th:text="${serviceProvider.region}">ap-southeast-1</td>
                        <td th:text="${serviceProvider?.lastStarted?.toString('dd-MM-YYYY HH:mm')?:''}">2010-01-01 10:00</td>
                        <td th:text="${serviceProvider.getStatusMessage()}" th:class="${serviceProvider.isRunning()}? text-success: text-danger">Running (2010-01-01T10:00:00)</td>
                        <td>
                            <a class="btn btn-sm" role="button" id="start"
                                th:href="@{'/serviceProvider/start/' + ${serviceProvider.id}}">Start</a>
                            <a class="btn btn-sm" role="button" id="stop"
                                th:href="@{'/serviceProvider/stop/' + ${serviceProvider.id}}">Stop</a>
                            <a class="btn btn-sm" role="button" id="check"
                                th:href="@{'/serviceProvider/check/' + ${serviceProvider.id}}">Check</a>
                            <a class="btn btn-danger btn-sm" role="button" id="delete" 
                                th:href="@{'/serviceProvider/delete/' + ${serviceProvider.id}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div th:include="fragments :: pagination (${page})"></div>
        </div>
        
        <p>
          <a class="btn btn-primary" role="button" id="add" th:href="@{/serviceProvider/entry}"><span class="glyphicon glyphicon-plus"></span> Add</a>
        </p>
        
    </div>
    
    <script th:inline="javascript">
    $('.btn-danger').click(function() {
    	return confirm('Are you sure?');
    }) 
    </script>
    
  </body>

</html>