<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments :: head">
  </head>  

  <body>
  
    <div th:include="fragments :: header('serviceProvider')"></div>
    
    <div class="container">
        <div class="page-header">
            <h3>Service Provider</h3>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Base URL</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="serviceProvider: ${serviceProviders}">
                        <td>
                            <a th:href="@{'/serviceProvider/entry/' + ${serviceProvider.id}}">
                                <span th:text="${serviceProvider.name}">TEST</span>
                            </a>
                        </td>
                        <td th:text="${serviceProvider.baseUrl}">http://localhost:9999/test</td>
                        <td th:text="${serviceProvider.getStatusMessage()}" th:class="${serviceProvider.getStatus() == T(com.predictry.oasis.domain.ServiceProviderStatus).RUNNING}? text-success: text-danger">Running (2010-01-01T10:00:00)</td>
                        <td>
                            <a class="btn btn-sm" role="button" id="ping"
                                th:href="@{'/serviceProvider/ping/' + ${serviceProvider.id}}">Ping</a>
                            <a class="btn btn-danger btn-sm" role="button" id="delete" 
                                th:href="@{'/serviceProvider/delete/' + ${serviceProvider.id}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <p>
          <a class="btn btn-primary" role="button" id="add" th:href="@{/serviceProvider/entry}"><span class="glyphicon glyphicon-plus"></span> Add</a>
        </p>
        
    </div>
    
    <script th:inline="javascript">
    $('.btn-danger').click(function() {
    	return confirm('Are you sure?');
    }) 
    </script>
    
  </body>

</html>