<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments :: head">
  </head>  

  <body>
  
    <div th:include="fragments :: header('tenant')"></div>
    
    <div class="container">
        <div class="page-header">
            <h3>Tenant</h3>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='id,ASC')}">Tenant Id</a>
                        </th>
                        <th>
                            <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='name,ASC')}">Name</a>
                        </th>
                        <th>
                            <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='status,ASC')}">Status</a>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tenant: ${tenants}">
                        <td>
                            <a th:href="@{'/tenant/entry/' + ${tenant.id}}">
                                <span th:text="${tenant.id}">TEST</span>
                            </a>
                        </td>
                        <td th:text="${tenant.name}">TENANT NAME</td>
                        <td th:text="${tenant.status}">STATUS</td>
                        <td>
                            <a class="btn btn-danger btn-sm" role="button" id="delete" 
                                th:href="@{'/tenant/delete/' + ${tenant.id}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div th:include="fragments :: pagination (${page})"></div>
        
        <p>
          <a class="btn btn-primary" role="button" id="add" th:href="@{/tenant/entry}"><span class="glyphicon glyphicon-plus"></span> Add</a>
        </p>
        
    </div>
    
    <script th:inline="javascript">
    $('.btn-danger').click(function() {
    	return confirm('Are you sure?');
    }) 
    </script>
    
  </body>

</html>