<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments :: head">
  </head>  

  <body>
  
    <div th:include="fragments :: header('job')"></div>
    
    <div class="container">
        <div class="page-header">
            <h3>Job</h3>
        </div>
        
       <div style="text-align: right;">
            <a class="btn" role="button" id="btn-clear-logs" th:href="@{/job/clear}"><span class="glyphicon glyphicon-trash"></span> Clear Logs</a>
       </div>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
	                        <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='name,ASC')}">Name</a>
                        </th>
                        <th>
                            <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='application.name,ASC')}">Application</a>
                        </th>
                        <th>
                            <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='name,ASC')}">T#</a>
                        </th>
                    	<th>
                    	   <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='startTime,ASC')}">Start Time</a>
                    	</th>
                        <th>
                           <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='endTime,ASC')}">End Time</a>
                        </th>
                        <th>
                           <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='lastRepeat,ASC')}">Last Repeat</a>
                        </th>
                        <th>
                           <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='processingTime,ASC')}">Delta</a>
                        </th>
                        <th>
                           <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='numOfRepeat,ASC')}">Repeat</a>
                        </th>
                        <th>
                           <a th:href="@{${url}(page=${page.number}, size=${page.size}, sort='status,ASC')}">Status</a>
                        </th>
                        <th>&nbsp;</th>                     
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="job: ${jobs}">
                        <td>
                            <a data-toggle="modal" data-target="#reasonDialog" th:attr="data-id=${job.id}">
                                <span th:text="${job.name}">Job Name</span>
                            </a>
                        </td>
                        <td>
                            <span th:text="${job.application.name}">Application Name</span>
                        </td>
                        <td>
                            <span th:text="${job.taskIndex}">0</span>
                        </td>
                        <td>
                            <span th:text="${job.startTime?.toString('dd-MM-YYYY HH:mm:ss')}">2015-10-01 10:10:10</span>
                        </td>
                        <td>
                            <span th:text="${job.endTime?.toString('dd-MM-YYYY HH:mm:ss')}">2015-10-02 20:10:10</span>
                        </td>
                        <td>
                            <span th:text="${job.lastRepeat?.toString('dd-MM-YYYY HH:mm:ss')}">2015-10-03 10:05:10</span>
                        </td>
                        <td>
                            <span th:text="${#numbers.formatDecimal(job.processingTime,0,2)}">10</span>
                        </td>
                        <td>
                            <span th:text="${job.numOfRepeat}">0</span>
                        </td>
                        <td>
                            <span th:text="${job.status}" th:class="${job.status.cssClass}">Started</span>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
       <div th:include="fragments :: pagination (${page})"></div>
   </div>
   
   <div class="modal fade" id="reasonDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="z-index: 2000;">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Detail</h4>
                </div>
                <div class="modal-body">
                   <div id="reasonDialogContent"></div>
                </div>
            </div>
        </div>
    </div>
    
        
    <script th:inline="javascript">
    /*<![CDATA[*/
    $('#reasonDialog').on('show.bs.modal', function(event) {
       var id = $(event.relatedTarget).data('id');
       var modal = $(this);
       var path = /*[[@{/job}]]*/ '/job';
       $.get(path + '/' + id + '/popup', function(data) {
          $('#reasonDialogContent').html(data); 
       });
    });
    
    $('#btn-clear-logs').click(function() {
        return confirm('Are you sure you want to delete all logs?');
    }) 
    /*]]>*/
    </script>
    
  </body>

</html>