<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments :: head">
  </head>  

  <body>
  
    <div th:include="fragments :: header('job')"></div>
    
    <div class="container">
        <div class="page-header">
            <h3>Job</h3>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Application</th>
                        <th>T#</th>
                    	<th>Start Time</th>
                        <th>End Time</th>
                        <th>Last Repeat</th>
                        <th>Delta</th>
                        <th>Repeat</th>
                        <th>Status</th>
                        <th>&nbsp;</th>                     
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="job: ${jobs}">
                        <td>
                            <a data-toggle="modal" data-target="#reasonDialog" th:attr="data-id=${job.id}">
                                <span th:text="${job.name}">Job Name</span>
                            </a>
                        </td>
                        <td>
                            <span th:text="${job.application.name}">Application Name</span>
                        </td>
                        <td>
                            <span th:text="${job.taskIndex}">0</span>
                        </td>
                        <td>
                            <span th:text="${job.startTime?.toString('dd-MM-YYYY hh:mm:ss')}">2015-10-01 10:10:10</span>
                        </td>
                        <td>
                            <span th:text="${job.endTime?.toString('dd-MM-YYYY hh:mm:ss')}">2015-10-02 20:10:10</span>
                        </td>
                        <td>
                            <span th:text="${job.lastRepeat?.toString('dd-MM-YYYY hh:mm:ss')}">2015-10-03 10:05:10</span>
                        </td>
                        <td>
                            <span th:text="${#numbers.formatDecimal(job.processingTime,0,2)}">10</span>
                        </td>
                        <td>
                            <span th:text="${job.numOfRepeat}">0</span>
                        </td>
                        <td>
                            <span th:text="${job.status}">Started</span>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
   </div>
    
   <div class="modal fade" id="reasonDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="z-index: 2000;">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Detail</h4>
                </div>
                <div class="modal-body">
                   <div id="reasonDialogContent"></div>
                </div>
            </div>
        </div>
    </div>
    
        
    <script th:inline="javascript">
    /*<![CDATA[*/
    $('#reasonDialog').on('show.bs.modal', function(event) {
       var id = $(event.relatedTarget).data('id');
       var modal = $(this);
       var path = /*[[@{/job}]]*/ '/job';
       $.get(path + '/' + id + '/popup', function(data) {
          $('#reasonDialogContent').html(data); 
       });
    });
    /*]]>*/
    </script>
    
  </body>

</html>